@import "./home";

.page {
    .page-header {
        h1 {
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }

    .page-body {
        .actions {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}
