.page-show-account {
    td {
        .material-icons {
            vertical-align: middle;
        }
    }
}

.page-edit-account {
    .actions {
        .delete-account {
            .warning {
                color: $nord11;
                font-weight: 900;
            }
        }
    }
}

.page-delete-account {
    .page-body {
        form {
            .warning {
                color: $nord11;
                font-weight: 900;
                font-size: 2rem;
            }
        }
    }
}
