<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="background: #ffffff; color: #555555; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <p style="font-size: 14px; line-height: 20px;">
    Hi there! This is Sean from <%= link_to 'The Caves of Koilos', root_url %>.
    I'm excited to see you've signed up to start tracking your Magic: The Gathering collection!
  </p>
  <p style="font-size: 14px; line-height: 20px;">
    This site originally began in mid-2007 as a means to scratch an itch.
    My Magic card collection was finally starting to get too big to keep in my head.
    I just couldn't remember all the cards I already had.
    I started out by cobbling together a web application that let me keep a simple inventory list of my cards.
    It wasn't very robust and it didn't even allow for more than one person to use it.
    The source code and the database for the prototype were lost due to a hard drive crash in 2008.
    In December of 2012 I finally got around to redesigning the entire application with the intention of sharing it with others.
    Hopefully you'll find this as useful as I have!
  </p>
  <p style="font-size: 14px; line-height: 20px;">
    In the coming months I plan on adding a few new features and improving the interface.
    If you have any questions, comments, concerns, or just want to send some feedback feel free to use the <%= link_to 'contact form', contact_url %> or <%= mail_to 'sean@cavesofkoilos.com', 'email me directly' %>.
    Thanks for signing up, I look forward to hearing from you!
  </p>
</body>
</html>
