.cards {
    .card {
        line-height: 33px;
        vertical-align: middle;
    }
}

.card {
    .card-image {
        img {
            max-width: 100%;
        }
    }

    .flavor-text {
        font-style: italic;
    }
}

.card-tooltip {
    .flavor-text {
        font-style: italic;
    }
}
