<% content_for :body_class, 'about' %>
<div class="page-header">
  <h1>About The Caves of Koilos</h1>
</div>
<div id="about" class="page row">
  <div class="page-body col-xs-12">
    <p class="lead"><strong>The Caves of Koilos</strong> let's you keep track of your Magic: The Gathering card collection.</p>
  </div>
</div>
