<% content_for :body_class, 'privacy-policy' %>
<div class="page-header">
  <h1>Privacy Policy</h1>
</div>
<div id="privacy-policy" class="page row">
  <div class="page-body col-xs-12">
    <p class="lead">The Caves of Koilos is committed to protecting the privacy of visitors to our website, as well as our users. The Caves of Koilos has established this Privacy Policy to explain what information we collect through our website and how it is used.</p>
    <p>In this policy, &quot;The Caves of Koilos&quot; refers to the site's staff, administrators, and operators.</p>
    <h2>General Information</h2>
    <p>We collect the email addresses of those who communicate with us via email, aggregate information on what pages visitors access, and information volunteered by the visitor (such as survey information and/or site registrations). The information we collect is used to improve the content of our website and the quality of our service, and is not sold to other organizations for any purpose under any circumstances. We do not share visitor or user information except as compelled by United States and State of Texas law.</p>
    <p>The restrictions described here on the dissemination of personal information are not subject to change. This policy is updated occasionally but the changes will not reduce the privacy protection of visitors. If there are changes made in the future, the changes will not affect information already collected.</p>
    <h2>Information Gathered</h2>
    <h3>Logging</h3>
    <p>All requests to our website are logged. The log is generally kept for as long as necessary depending on site traffic and size of the log file. This can range from several days to indefinitely. The following information is logged:</p>
    <ul>
      <li>The visitors IP address</li>
      <li>Requested page</li>
      <li>Time of request</li>
      <li>HTTP status of the request response</li>
      <li>Performance information for the request</li>
    </ul>
    <p>This information may be used for the following purposes:</p>
    <ul>
      <li>Site testing</li>
      <li>Diagnosis of technical problems</li>
      <li>Defending against attacks to the site</li>
      <li>Handling a spike in traffic</li>
    </ul>
    <h3>Analytics</h3>
    <p>The Caves of Koilos uses <a href="http://www.google.com/analytics/">Google Analytics</a> to monitor traffic on our website. Google Analytics records the general geographical vicinity of visitors as well as their browser and operating system, and records their navigation within the site. This helps us gauge site usage and better serve our users.</p>
    <h3>User Registration</h3>
    <p>Contact information, including but not limited to email address, is requested at the time of a membership sign-up. This information is used to verify your account and to ensure we have a valid means of communicating with users in the future. The Caves of Koilos uses its user list to occasionally send newsletters. Users can opt out of receiving newsletters when they sign up.</p>
    <h2>Cookies</h2>
    <p>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site's computers and stored on your computer's hard drive.</p>
    <p>Cookies are required to use the The Caves of Koilos service.</p>
    <p>We use cookies to record current session information, but do not use permanent cookies. You are required to re-login to your The Caves of Koilos account after a certain period of time has elapsed to protect you against others accidentally accessing your account contents.</p>
    <h2>Data Storage</h2>
    <p>The Caves of Koilos uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run The Caves of Koilos. Although The Caves of Koilos owns the code, databases, and all rights to the The Caves of Koilos application, you retain all rights to your data.</p>
    <p>Registered users may permanently delete their account at any time. This will remove all associated data from our database. It will not however remove any related tracking or analytics.</p>
    <h2>Changes to Our Policies</h2>
    <p>The Caves of Koilos's Privacy Policy may change from time to time. However, any revised privacy policy will be consistent with our commitment to privacy. If we make any substantive changes to our policies, we will send an email to all registered users and place an announcement on this page.</p>
    <p>Diffs of all updates to this page can be viewed on this site's <a href="https://github.com/seaneshbaugh/card_tracker/commits/master/app/views/pages/privacy-policy.html.erb">GitHub repository</a>.</p>
    <h2>Last Updated</h2>
    <p>This Privacy Policy was last updated on February 10th, 2013.</p>
  </div>
</div>
