<% content_for :body_class, 'terms-and-conditions' %>
<div class="page-header">
  <h1>Terms and Conditions</h1>
</div>
<div id="terms-and-conditions" class="page row">
  <div class="page-body col-xs-12">
    <p>We all know terms and conditions on the internet are bullshit. <span title="I'm impressed you've even bothered to visit this page!">Let's not kid ourselves, no one reads them.</span> We certainly don't read them for the site's whose services we personally use. So here's the deal: you can use this website in the way it's obviously intended. Send an HTTP request, get an HTTP response. Legalese is pointless unless you sign a binding contract. And even then, just because you signed it doesn't mean it will hold up in a court. We strongly feel any attempt to create a &quot;contract&quot; with a checkbox is insulting to your intelligence and to the entire concept of good faith contractual agreements which underpin much of our society.</p>
    <p>That being said, we do strongly encourage you to read our <%= link_to 'Privacy Policy', '/privacy-policy' %>. We're not a fan of them either, but that stuff is important. For better or worse, it does affect you in very real ways. The tl;dr? Yes, we track what you do on our website, it's <%= Time.now.year %>, of course we do, we like to know who is using our site. No, we won't tell anyone anything about you (except in the exceedingly unlikely event we get a subpoena). Yes, we require some information from you when you register. No, we won't sell your information to some scummy spam marketing company or anyone else for that matter. There are two reasons we even bother having a privacy policy: first, apparently Google requires you have one that mentions you use Google Analytics, and second, you have a right to know what websites you visit are doing with your information.</p>
    <p>These Terms and Conditions were last updated on February 10th, 2013.</p>
  </div>
</div>
