<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="background: #ffffff; color: #555555; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <p style="font-size: 14px; line-height: 20px;">
    Hi there! Sean from <a href="http://cavesofkoilos.com">cavesofkoilos.com</a> here.
  </p>
  <p style="font-size: 14px; line-height: 20px;">
    Just wanted to let you know that I got your message and I will get back to you as soon as possible!
  </p>
</body>
</html>
