<div class="row">
  <div class="span3">
    <%= @card.name %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= link_to 'Show on Gatherer', "http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=#{@card.multiverse_id}", :target => '_blank' %>
  </div>
</div>
