- content_for :page_title, t('.page_title')
- content_for :body_class, 'contact-thanks'
.page-contact-thanks.page
  %header.page-header
    %h1= t('.title')
  .page-body
    %p.message= t('.message')
