<% content_for :body_class, 'contact-thanks' %>
<div class="page-header">
  <h1>Thanks!</h1>
</div>
<div id="contact-thanks" class="page row">
  <div class="page-body col-xs-12">
    <p class="lead">Your message has been sent! We will get back to you soon.</p>
  </div>
</div>
