<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body style="background: #ffffff; color: #555555; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <p style="font-size: 14px; line-height: 20px;">Hello <%= @resource.email %>!</p>
  <p style="font-size: 14px; line-height: 20px;">Someone has requested a link to change your password. You can do this through the link below:</p>
  <p style="font-size: 14px; line-height: 20px;"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
  <p style="font-size: 14px; line-height: 20px;">If you didn't request this, please ignore this email.</p>
  <p style="font-size: 14px; line-height: 20px;">Your password won't change until you access the link above and create a new one.</p>
</body>
</html>
