- content_for :page_title, t('.title')
- content_for :body_class, 'admin-new-user'
.page-new-user.admin-page.page
  %header.page-header
    - present @user do |user_presenter|
      %h1= user_presenter.form_title
  .page-body
    = render 'form'
