.mana-symbol {
  background-clip: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;

  background-image: url(/assets/symbols/mana-symbols-spritesheet.png);

  &.symbol-wb {
    background-position: -88px -484px;
    height: 44px;
    width: 44px;
  }
  &.symbol-6 {
    background-position: -176px -176px;
    height: 44px;
    width: 44px;
  }
  &.symbol-2r {
    background-position: -132px -132px;
    height: 44px;
    width: 44px;
  }
  &.symbol-11 {
    background-position: 0 -44px;
    height: 44px;
    width: 44px;
  }
  &.symbol-w {
    background-position: -44px -484px;
    height: 44px;
    width: 44px;
  }
  &.symbol-pg {
    background-position: -132px -352px;
    height: 44px;
    width: 44px;
  }
  &.symbol-7 {
    background-position: 0 -220px;
    height: 44px;
    width: 44px;
  }
  &.symbol-12 {
    background-position: -44px -44px;
    height: 44px;
    width: 44px;
  }
  &.symbol-x {
    background-position: -176px -484px;
    height: 44px;
    width: 44px;
  }
  &.symbol-ub {
    background-position: -176px -440px;
    height: 44px;
    width: 44px;
  }
  &.symbol-pr {
    background-position: -176px -352px;
    height: 44px;
    width: 44px;
  }
  &.symbol-hu {
    background-position: -66px -308px;
    height: 44px;
    width: 22px;
  }
  &.symbol-b {
    background-position: -132px -220px;
    height: 44px;
    width: 44px;
  }
  &.symbol-8 {
    background-position: -44px -220px;
    height: 44px;
    width: 44px;
  }
  &.symbol-13 {
    background-position: -88px -44px;
    height: 44px;
    width: 44px;
  }
  &.symbol-y {
    background-position: 0 -528px;
    height: 44px;
    width: 44px;
  }
  &.symbol-gu {
    background-position: -97px -264px;
    height: 44px;
    width: 44px;
  }
  &.symbol-c {
    background-position: -44px -264px;
    height: 44px;
    width: 53px;
  }
  &.symbol-9 {
    background-position: -88px -220px;
    height: 44px;
    width: 44px;
  }
  &.symbol-2u {
    background-position: -176px -132px;
    height: 44px;
    width: 44px;
  }
  &.symbol-14 {
    background-position: -132px -44px;
    height: 44px;
    width: 44px;
  }
  &.symbol-z {
    background-position: -44px -528px;
    height: 44px;
    width: 44px;
  }
  &.symbol-hw {
    background-position: -88px -308px;
    height: 44px;
    width: 22px;
  }
  &.symbol-hb {
    background-position: 0 -308px;
    height: 44px;
    width: 22px;
  }
  &.symbol-15 {
    background-position: -176px -44px;
    height: 44px;
    width: 44px;
  }
  &.symbol-rw {
    background-position: 0 -440px;
    height: 44px;
    width: 44px;
  }
  &.symbol-pu {
    background-position: 0 -396px;
    height: 44px;
    width: 44px;
  }
  &.symbol-p {
    background-position: -44px -352px;
    height: 44px;
    width: 44px;
  }
  &.symbol-gw {
    background-position: -141px -264px;
    height: 44px;
    width: 44px;
  }
  &.symbol-br {
    background-position: 0 -264px;
    height: 44px;
    width: 44px;
  }
  &.symbol-bg {
    background-position: -176px -220px;
    height: 44px;
    width: 44px;
  }
  &.symbol-2w {
    background-position: 0 -176px;
    height: 44px;
    width: 44px;
  }
  &.symbol-2b {
    background-position: -44px -132px;
    height: 44px;
    width: 44px;
  }
  &.symbol-16 {
    background-position: 0 -88px;
    height: 44px;
    width: 44px;
  }
  &.symbol-0 {
    background-position: 0 0;
    height: 44px;
    width: 44px;
  }
  &.symbol-q {
    background-position: -88px -396px;
    height: 44px;
    width: 44px;
  }
  &.symbol-17 {
    background-position: -44px -88px;
    height: 44px;
    width: 44px;
  }
  &.symbol-100 {
    background-position: -132px 0;
    height: 44px;
    width: 83px;
  }
  &.symbol-1 {
    background-position: -44px 0;
    height: 44px;
    width: 44px;
  }
  &.symbol-ur {
    background-position: 0 -484px;
    height: 44px;
    width: 44px;
  }
  &.symbol-r {
    background-position: -132px -396px;
    height: 44px;
    width: 44px;
  }
  &.symbol-pw {
    background-position: -44px -396px;
    height: 44px;
    width: 44px;
  }
  &.symbol-pb {
    background-position: -88px -352px;
    height: 44px;
    width: 44px;
  }
  &.symbol-2 {
    background-position: -176px -88px;
    height: 44px;
    width: 44px;
  }
  &.symbol-18 {
    background-position: -88px -88px;
    height: 44px;
    width: 44px;
  }
  &.symbol-wu {
    background-position: -132px -484px;
    height: 44px;
    width: 44px;
  }
  &.symbol-s {
    background-position: -44px -440px;
    height: 44px;
    width: 44px;
  }
  &.symbol-h {
    background-position: -185px -264px;
    height: 44px;
    width: 44px;
  }
  &.symbol-3 {
    background-position: -44px -176px;
    height: 44px;
    width: 44px;
  }
  &.symbol-20 {
    background-position: 0 -132px;
    height: 44px;
    width: 44px;
  }
  &.symbol-19 {
    background-position: -132px -88px;
    height: 44px;
    width: 44px;
  }
  &.symbol-1000000 {
    background-position: -215px 0;
    height: 44px;
    width: 224px;
  }
  &.symbol-t {
    background-position: -88px -440px;
    height: 44px;
    width: 44px;
  }
  &.symbol-i {
    background-position: 0 -352px;
    height: 44px;
    width: 44px;
  }
  &.symbol-hg {
    background-position: -22px -308px;
    height: 44px;
    width: 22px;
  }
  &.symbol-4 {
    background-position: -88px -176px;
    height: 44px;
    width: 44px;
  }
  &.symbol-10 {
    background-position: -88px 0;
    height: 44px;
    width: 44px;
  }
  &.symbol-u {
    background-position: -132px -440px;
    height: 44px;
    width: 44px;
  }
  &.symbol-rg {
    background-position: -176px -396px;
    height: 44px;
    width: 44px;
  }
  &.symbol-hr {
    background-position: -44px -308px;
    height: 44px;
    width: 22px;
  }
  &.symbol-5 {
    background-position: -132px -176px;
    height: 44px;
    width: 44px;
  }
  &.symbol-2g {
    background-position: -88px -132px;
    height: 44px;
    width: 44px;
  }

  &.large {
    background-image: url(/assets/symbols/mana-symbols-large-spritesheet.png);

    &.symbol-wb {
      background-position: -200px -1100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-6 {
      background-position: -400px -400px;
      height: 100px;
      width: 100px;
    }
    &.symbol-2r {
      background-position: -300px -300px;
      height: 100px;
      width: 100px;
    }
    &.symbol-11 {
      background-position: 0 -100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-w {
      background-position: -100px -1100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-pg {
      background-position: -300px -800px;
      height: 100px;
      width: 100px;
    }
    &.symbol-7 {
      background-position: 0 -500px;
      height: 100px;
      width: 100px;
    }
    &.symbol-12 {
      background-position: -100px -100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-x {
      background-position: -400px -1100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-ub {
      background-position: -400px -1000px;
      height: 100px;
      width: 100px;
    }
    &.symbol-pr {
      background-position: -400px -800px;
      height: 100px;
      width: 100px;
    }
    &.symbol-hu {
      background-position: -150px -700px;
      height: 100px;
      width: 50px;
    }
    &.symbol-b {
      background-position: -300px -500px;
      height: 100px;
      width: 100px;
    }
    &.symbol-8 {
      background-position: -100px -500px;
      height: 100px;
      width: 100px;
    }
    &.symbol-13 {
      background-position: -200px -100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-y {
      background-position: 0 -1200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-gu {
      background-position: -220px -600px;
      height: 100px;
      width: 100px;
    }
    &.symbol-c {
      background-position: -100px -600px;
      height: 100px;
      width: 120px;
    }
    &.symbol-9 {
      background-position: -200px -500px;
      height: 100px;
      width: 100px;
    }
    &.symbol-2u {
      background-position: -400px -300px;
      height: 100px;
      width: 100px;
    }
    &.symbol-14 {
      background-position: -300px -100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-z {
      background-position: -100px -1200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-hw {
      background-position: -200px -700px;
      height: 100px;
      width: 50px;
    }
    &.symbol-hb {
      background-position: 0 -700px;
      height: 100px;
      width: 50px;
    }
    &.symbol-15 {
      background-position: -400px -100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-rw {
      background-position: 0 -1000px;
      height: 100px;
      width: 100px;
    }
    &.symbol-pu {
      background-position: 0 -900px;
      height: 100px;
      width: 100px;
    }
    &.symbol-p {
      background-position: -100px -800px;
      height: 100px;
      width: 100px;
    }
    &.symbol-gw {
      background-position: -320px -600px;
      height: 100px;
      width: 100px;
    }
    &.symbol-br {
      background-position: 0 -600px;
      height: 100px;
      width: 100px;
    }
    &.symbol-bg {
      background-position: -400px -500px;
      height: 100px;
      width: 100px;
    }
    &.symbol-2w {
      background-position: 0 -400px;
      height: 100px;
      width: 100px;
    }
    &.symbol-2b {
      background-position: -100px -300px;
      height: 100px;
      width: 100px;
    }
    &.symbol-16 {
      background-position: 0 -200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-0 {
      background-position: 0 0;
      height: 100px;
      width: 100px;
    }
    &.symbol-q {
      background-position: -200px -900px;
      height: 100px;
      width: 100px;
    }
    &.symbol-17 {
      background-position: -100px -200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-100 {
      background-position: -300px 0;
      height: 100px;
      width: 188px;
    }
    &.symbol-1 {
      background-position: -100px 0;
      height: 100px;
      width: 100px;
    }
    &.symbol-ur {
      background-position: 0 -1100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-r {
      background-position: -300px -900px;
      height: 100px;
      width: 100px;
    }
    &.symbol-pw {
      background-position: -100px -900px;
      height: 100px;
      width: 100px;
    }
    &.symbol-pb {
      background-position: -200px -800px;
      height: 100px;
      width: 100px;
    }
    &.symbol-2 {
      background-position: -400px -200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-18 {
      background-position: -200px -200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-wu {
      background-position: -300px -1100px;
      height: 100px;
      width: 100px;
    }
    &.symbol-s {
      background-position: -100px -1000px;
      height: 100px;
      width: 100px;
    }
    &.symbol-h {
      background-position: -420px -600px;
      height: 100px;
      width: 100px;
    }
    &.symbol-3 {
      background-position: -100px -400px;
      height: 100px;
      width: 100px;
    }
    &.symbol-20 {
      background-position: 0 -300px;
      height: 100px;
      width: 100px;
    }
    &.symbol-19 {
      background-position: -300px -200px;
      height: 100px;
      width: 100px;
    }
    &.symbol-1000000 {
      background-position: -488px 0;
      height: 100px;
      width: 508px;
    }
    &.symbol-t {
      background-position: -200px -1000px;
      height: 100px;
      width: 100px;
    }
    &.symbol-i {
      background-position: 0 -800px;
      height: 100px;
      width: 100px;
    }
    &.symbol-hg {
      background-position: -50px -700px;
      height: 100px;
      width: 50px;
    }
    &.symbol-4 {
      background-position: -200px -400px;
      height: 100px;
      width: 100px;
    }
    &.symbol-10 {
      background-position: -200px 0;
      height: 100px;
      width: 100px;
    }
    &.symbol-u {
      background-position: -300px -1000px;
      height: 100px;
      width: 100px;
    }
    &.symbol-rg {
      background-position: -400px -900px;
      height: 100px;
      width: 100px;
    }
    &.symbol-hr {
      background-position: -100px -700px;
      height: 100px;
      width: 50px;
    }
    &.symbol-5 {
      background-position: -300px -400px;
      height: 100px;
      width: 100px;
    }
    &.symbol-2g {
      background-position: -200px -300px;
      height: 100px;
      width: 100px;
    }
  }
  &.small {
    background-image: url(/assets/symbols/mana-symbols-small-spritesheet.png);

    &.symbol-wb {
      background-position: -44px -242px;
      height: 22px;
      width: 22px;
    }
    &.symbol-6 {
      background-position: -88px -88px;
      height: 22px;
      width: 22px;
    }
    &.symbol-2r {
      background-position: -66px -66px;
      height: 22px;
      width: 22px;
    }
    &.symbol-11 {
      background-position: 0 -22px;
      height: 22px;
      width: 22px;
    }
    &.symbol-w {
      background-position: -22px -242px;
      height: 22px;
      width: 22px;
    }
    &.symbol-pg {
      background-position: -66px -176px;
      height: 22px;
      width: 22px;
    }
    &.symbol-7 {
      background-position: 0 -110px;
      height: 22px;
      width: 22px;
    }
    &.symbol-12 {
      background-position: -22px -22px;
      height: 22px;
      width: 22px;
    }
    &.symbol-x {
      background-position: -88px -242px;
      height: 22px;
      width: 22px;
    }
    &.symbol-ub {
      background-position: -88px -220px;
      height: 22px;
      width: 22px;
    }
    &.symbol-pr {
      background-position: -88px -176px;
      height: 22px;
      width: 22px;
    }
    &.symbol-hu {
      background-position: -33px -154px;
      height: 22px;
      width: 11px;
    }
    &.symbol-b {
      background-position: -66px -110px;
      height: 22px;
      width: 22px;
    }
    &.symbol-8 {
      background-position: -22px -110px;
      height: 22px;
      width: 22px;
    }
    &.symbol-13 {
      background-position: -44px -22px;
      height: 22px;
      width: 22px;
    }
    &.symbol-y {
      background-position: 0 -264px;
      height: 22px;
      width: 22px;
    }
    &.symbol-gu {
      background-position: -48px -132px;
      height: 22px;
      width: 22px;
    }
    &.symbol-c {
      background-position: -22px -132px;
      height: 22px;
      width: 26px;
    }
    &.symbol-9 {
      background-position: -44px -110px;
      height: 22px;
      width: 22px;
    }
    &.symbol-2u {
      background-position: -88px -66px;
      height: 22px;
      width: 22px;
    }
    &.symbol-14 {
      background-position: -66px -22px;
      height: 22px;
      width: 22px;
    }
    &.symbol-z {
      background-position: -22px -264px;
      height: 22px;
      width: 22px;
    }
    &.symbol-hw {
      background-position: -44px -154px;
      height: 22px;
      width: 11px;
    }
    &.symbol-hb {
      background-position: 0 -154px;
      height: 22px;
      width: 11px;
    }
    &.symbol-15 {
      background-position: -88px -22px;
      height: 22px;
      width: 22px;
    }
    &.symbol-rw {
      background-position: 0 -220px;
      height: 22px;
      width: 22px;
    }
    &.symbol-pu {
      background-position: 0 -198px;
      height: 22px;
      width: 22px;
    }
    &.symbol-p {
      background-position: -22px -176px;
      height: 22px;
      width: 22px;
    }
    &.symbol-gw {
      background-position: -70px -132px;
      height: 22px;
      width: 22px;
    }
    &.symbol-br {
      background-position: 0 -132px;
      height: 22px;
      width: 22px;
    }
    &.symbol-bg {
      background-position: -88px -110px;
      height: 22px;
      width: 22px;
    }
    &.symbol-2w {
      background-position: 0 -88px;
      height: 22px;
      width: 22px;
    }
    &.symbol-2b {
      background-position: -22px -66px;
      height: 22px;
      width: 22px;
    }
    &.symbol-16 {
      background-position: 0 -44px;
      height: 22px;
      width: 22px;
    }
    &.symbol-0 {
      background-position: 0 0;
      height: 22px;
      width: 22px;
    }
    &.symbol-q {
      background-position: -44px -198px;
      height: 22px;
      width: 22px;
    }
    &.symbol-17 {
      background-position: -22px -44px;
      height: 22px;
      width: 22px;
    }
    &.symbol-100 {
      background-position: -66px 0;
      height: 22px;
      width: 41px;
    }
    &.symbol-1 {
      background-position: -22px 0;
      height: 22px;
      width: 22px;
    }
    &.symbol-ur {
      background-position: 0 -242px;
      height: 22px;
      width: 22px;
    }
    &.symbol-r {
      background-position: -66px -198px;
      height: 22px;
      width: 22px;
    }
    &.symbol-pw {
      background-position: -22px -198px;
      height: 22px;
      width: 22px;
    }
    &.symbol-pb {
      background-position: -44px -176px;
      height: 22px;
      width: 22px;
    }
    &.symbol-2 {
      background-position: -88px -44px;
      height: 22px;
      width: 22px;
    }
    &.symbol-18 {
      background-position: -44px -44px;
      height: 22px;
      width: 22px;
    }
    &.symbol-wu {
      background-position: -66px -242px;
      height: 22px;
      width: 22px;
    }
    &.symbol-s {
      background-position: -22px -220px;
      height: 22px;
      width: 22px;
    }
    &.symbol-h {
      background-position: -92px -132px;
      height: 22px;
      width: 22px;
    }
    &.symbol-3 {
      background-position: -22px -88px;
      height: 22px;
      width: 22px;
    }
    &.symbol-20 {
      background-position: 0 -66px;
      height: 22px;
      width: 22px;
    }
    &.symbol-19 {
      background-position: -66px -44px;
      height: 22px;
      width: 22px;
    }
    &.symbol-1000000 {
      background-position: -107px 0;
      height: 22px;
      width: 112px;
    }
    &.symbol-t {
      background-position: -44px -220px;
      height: 22px;
      width: 22px;
    }
    &.symbol-i {
      background-position: 0 -176px;
      height: 22px;
      width: 22px;
    }
    &.symbol-hg {
      background-position: -11px -154px;
      height: 22px;
      width: 11px;
    }
    &.symbol-4 {
      background-position: -44px -88px;
      height: 22px;
      width: 22px;
    }
    &.symbol-10 {
      background-position: -44px 0;
      height: 22px;
      width: 22px;
    }
    &.symbol-u {
      background-position: -66px -220px;
      height: 22px;
      width: 22px;
    }
    &.symbol-rg {
      background-position: -88px -198px;
      height: 22px;
      width: 22px;
    }
    &.symbol-hr {
      background-position: -22px -154px;
      height: 22px;
      width: 11px;
    }
    &.symbol-5 {
      background-position: -66px -88px;
      height: 22px;
      width: 22px;
    }
    &.symbol-2g {
      background-position: -44px -66px;
      height: 22px;
      width: 22px;
    }
  }
  &.full {
    background-image: url(/assets/symbols/mana-symbols-full-spritesheet.png);

    &.symbol-wb {
      background-position: -1000px -5500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-6 {
      background-position: -2000px -2000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-2r {
      background-position: -1500px -1500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-11 {
      background-position: 0 -500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-w {
      background-position: -500px -5500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-pg {
      background-position: -1500px -4000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-7 {
      background-position: 0 -2500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-12 {
      background-position: -500px -500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-x {
      background-position: -2000px -5500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-ub {
      background-position: -2000px -5000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-pr {
      background-position: -2000px -4000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-hu {
      background-position: -750px -3500px;
      height: 500px;
      width: 250px;
    }
    &.symbol-b {
      background-position: -1500px -2500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-8 {
      background-position: -500px -2500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-13 {
      background-position: -1000px -500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-y {
      background-position: 0 -6000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-gu {
      background-position: -1100px -3000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-c {
      background-position: -500px -3000px;
      height: 500px;
      width: 600px;
    }
    &.symbol-9 {
      background-position: -1000px -2500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-2u {
      background-position: -2000px -1500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-14 {
      background-position: -1500px -500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-z {
      background-position: -500px -6000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-hw {
      background-position: -1000px -3500px;
      height: 500px;
      width: 250px;
    }
    &.symbol-hb {
      background-position: 0 -3500px;
      height: 500px;
      width: 250px;
    }
    &.symbol-15 {
      background-position: -2000px -500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-rw {
      background-position: 0 -5000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-pu {
      background-position: 0 -4500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-p {
      background-position: -500px -4000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-gw {
      background-position: -1600px -3000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-br {
      background-position: 0 -3000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-bg {
      background-position: -2000px -2500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-2w {
      background-position: 0 -2000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-2b {
      background-position: -500px -1500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-16 {
      background-position: 0 -1000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-0 {
      background-position: 0 0;
      height: 500px;
      width: 500px;
    }
    &.symbol-q {
      background-position: -1000px -4500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-17 {
      background-position: -500px -1000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-100 {
      background-position: -1500px 0;
      height: 500px;
      width: 940px;
    }
    &.symbol-1 {
      background-position: -500px 0;
      height: 500px;
      width: 500px;
    }
    &.symbol-ur {
      background-position: 0 -5500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-r {
      background-position: -1500px -4500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-pw {
      background-position: -500px -4500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-pb {
      background-position: -1000px -4000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-2 {
      background-position: -2000px -1000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-18 {
      background-position: -1000px -1000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-wu {
      background-position: -1500px -5500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-s {
      background-position: -500px -5000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-h {
      background-position: -2100px -3000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-3 {
      background-position: -500px -2000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-20 {
      background-position: 0 -1500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-19 {
      background-position: -1500px -1000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-1000000 {
      background-position: -2440px 0;
      height: 500px;
      width: 2540px;
    }
    &.symbol-t {
      background-position: -1000px -5000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-i {
      background-position: 0 -4000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-hg {
      background-position: -250px -3500px;
      height: 500px;
      width: 250px;
    }
    &.symbol-4 {
      background-position: -1000px -2000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-10 {
      background-position: -1000px 0;
      height: 500px;
      width: 500px;
    }
    &.symbol-u {
      background-position: -1500px -5000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-rg {
      background-position: -2000px -4500px;
      height: 500px;
      width: 500px;
    }
    &.symbol-hr {
      background-position: -500px -3500px;
      height: 500px;
      width: 250px;
    }
    &.symbol-5 {
      background-position: -1500px -2000px;
      height: 500px;
      width: 500px;
    }
    &.symbol-2g {
      background-position: -1000px -1500px;
      height: 500px;
      width: 500px;
    }
  }
  &.extra-large {
    background-image: url(/assets/symbols/mana-symbols-extra-large-spritesheet.png);

    &.symbol-wb {
      background-position: -500px -2750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-6 {
      background-position: -1000px -1000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-2r {
      background-position: -750px -750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-11 {
      background-position: 0 -250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-w {
      background-position: -250px -2750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-pg {
      background-position: -750px -2000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-7 {
      background-position: 0 -1250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-12 {
      background-position: -250px -250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-x {
      background-position: -1000px -2750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-ub {
      background-position: -1000px -2500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-pr {
      background-position: -1000px -2000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-hu {
      background-position: -375px -1750px;
      height: 250px;
      width: 125px;
    }
    &.symbol-b {
      background-position: -750px -1250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-8 {
      background-position: -250px -1250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-13 {
      background-position: -500px -250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-y {
      background-position: 0 -3000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-gu {
      background-position: -550px -1500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-c {
      background-position: -250px -1500px;
      height: 250px;
      width: 300px;
    }
    &.symbol-9 {
      background-position: -500px -1250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-2u {
      background-position: -1000px -750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-14 {
      background-position: -750px -250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-z {
      background-position: -250px -3000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-hw {
      background-position: -500px -1750px;
      height: 250px;
      width: 125px;
    }
    &.symbol-hb {
      background-position: 0 -1750px;
      height: 250px;
      width: 125px;
    }
    &.symbol-15 {
      background-position: -1000px -250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-rw {
      background-position: 0 -2500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-pu {
      background-position: 0 -2250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-p {
      background-position: -250px -2000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-gw {
      background-position: -800px -1500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-br {
      background-position: 0 -1500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-bg {
      background-position: -1000px -1250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-2w {
      background-position: 0 -1000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-2b {
      background-position: -250px -750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-16 {
      background-position: 0 -500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-0 {
      background-position: 0 0;
      height: 250px;
      width: 250px;
    }
    &.symbol-q {
      background-position: -500px -2250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-17 {
      background-position: -250px -500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-100 {
      background-position: -750px 0;
      height: 250px;
      width: 470px;
    }
    &.symbol-1 {
      background-position: -250px 0;
      height: 250px;
      width: 250px;
    }
    &.symbol-ur {
      background-position: 0 -2750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-r {
      background-position: -750px -2250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-pw {
      background-position: -250px -2250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-pb {
      background-position: -500px -2000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-2 {
      background-position: -1000px -500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-18 {
      background-position: -500px -500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-wu {
      background-position: -750px -2750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-s {
      background-position: -250px -2500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-h {
      background-position: -1050px -1500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-3 {
      background-position: -250px -1000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-20 {
      background-position: 0 -750px;
      height: 250px;
      width: 250px;
    }
    &.symbol-19 {
      background-position: -750px -500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-1000000 {
      background-position: -1220px 0;
      height: 250px;
      width: 1270px;
    }
    &.symbol-t {
      background-position: -500px -2500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-i {
      background-position: 0 -2000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-hg {
      background-position: -125px -1750px;
      height: 250px;
      width: 125px;
    }
    &.symbol-4 {
      background-position: -500px -1000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-10 {
      background-position: -500px 0;
      height: 250px;
      width: 250px;
    }
    &.symbol-u {
      background-position: -750px -2500px;
      height: 250px;
      width: 250px;
    }
    &.symbol-rg {
      background-position: -1000px -2250px;
      height: 250px;
      width: 250px;
    }
    &.symbol-hr {
      background-position: -250px -1750px;
      height: 250px;
      width: 125px;
    }
    &.symbol-5 {
      background-position: -750px -1000px;
      height: 250px;
      width: 250px;
    }
    &.symbol-2g {
      background-position: -500px -750px;
      height: 250px;
      width: 250px;
    }
  }
}
