@whiteMana:          rgb(255, 255, 209);
@blueMana:           rgb(45, 117, 191);
@blackMana:          rgb(37, 37, 37);
@redMana:            rgb(155, 20, 19);
@greenMana:          rgb(85, 205, 107);
@colorless:          rgb(188, 188, 188);
@land:               rgb(204, 185, 136);
@multi:              rgb(218, 218, 0);
@phyrexianWhiteMana: darken(@whiteMana, 30%);
@phyrexianBlueMana:  darken(@blueMana, 30%);
@phyrexianBlackMana: darken(@blackMana, 30%);
@phyrexianRedMana:   darken(@redMana, 30%);
@phyrexianGreenMana: darken(@greenMana, 30%);

.manaGradient(@color: @colorless, @start: @colorless, @stop: lighten(@colorless, 10%)) {
  background: @color;
  background: -moz-linear-gradient(-45deg, @start 0%, @stop 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, @start), color-stop(100%, @stop));
  background: -webkit-linear-gradient(-45deg, @start 0%, @stop 100%);
  background: -o-linear-gradient(-45deg, @start 0%, @stop 100%);
  background: -ms-linear-gradient(-45deg, @start 0%, @stop 100%);
  background: linear-gradient(135deg, @start 0%, @stop 100%);
}

a:focus, a:active {
  outline: none;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: solid 1px transparent; }
input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="file"] > intput[type="button"]:focus { outline: none; }

body {
  margin-top: 60px;
  overflow-y: scroll;
}

.jumbotron {
  background: url(/assets/masthead.jpg) center center no-repeat;
  color: #e3fdff;
  margin-top: -20px;
  padding: 100px 0 200px 0;
  text-align: center;
  text-shadow: 0 1px 3px rgba(101, 98, 145, 0.40), 0 0 30px rgba(221, 212, 222, 0.67);

  h1 {
    font-size: 80px;
  }

  p.lead {
    font-size: 32px;
  }
}

.footer {
  background-color: #222222;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;

  p {
    color: #777777;
    margin-bottom: 0;

    a {
      color: #777777;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer-links {
    margin: 10px 0;

    li {
      display: inline;
      padding: 0 2px;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: #eeeeee;
      }
    }
  }
}

#front-page {
  .login {
    h2 {
      text-align: center;
    }
  }

  .register {
    h2 {
      text-align: center;
    }
  }
}

#delete-account {
  padding-left: 180px;
}

#sets {
  .set {
    margin-bottom: 5px;

    a {
      font-size: 14px;
    }
  }
}

#search-form {
  margin-bottom: 15px;
  margin-top: 15px;
}

.set {
  .card {
    line-height: 30px;
    margin-left: 0;

    &.white:nth-child(odd) {
      .manaGradient(lighten(@whiteMana, 5%), lighten(@whiteMana, 5%), lighten(@whiteMana, 10%));
    }

    &.white:nth-child(even) {
      .manaGradient(lighten(@whiteMana, 2.5%), lighten(@whiteMana, 2.5%), lighten(@whiteMana, 5%))
    }

    &.blue:nth-child(odd) {
      .manaGradient(lighten(@blueMana, 40%), lighten(@blueMana, 40%), lighten(@blueMana, 50%));
    }

    &.blue:nth-child(even) {
      .manaGradient(lighten(@blueMana, 35%), lighten(@blueMana, 35%), lighten(@blueMana, 40%))
    }

    &.black:nth-child(odd) {
      .manaGradient(lighten(@blackMana, 70%), lighten(@blackMana, 70%), lighten(@blackMana, 80%));
    }

    &.black:nth-child(even) {
      .manaGradient(lighten(@blackMana, 60%), lighten(@blackMana, 60%), lighten(@blackMana, 65%))
    }

    &.red:nth-child(odd) {
      .manaGradient(lighten(@redMana, 50%), lighten(@redMana, 50%), lighten(@redMana, 60%));
    }

    &.red:nth-child(even) {
      .manaGradient(lighten(@redMana, 45%), lighten(@redMana, 45%), lighten(@redMana, 55%));
    }

    &.green:nth-child(odd) {
      .manaGradient(lighten(@greenMana, 30%), lighten(@greenMana, 30%), lighten(@greenMana, 40%));
    }

    &.green:nth-child(even) {
      .manaGradient(lighten(@greenMana, 20%), lighten(@greenMana, 20%), lighten(@greenMana, 30%));
    }

    &.white-or-blue:nth-child(odd) {
      .manaGradient(lighten(@whiteMana, 5%), lighten(@whiteMana, 5%), lighten(@blueMana, 50%));
    }

    &.white-or-blue:nth-child(even) {
      .manaGradient(lighten(@whiteMana, 2.5%), lighten(@whiteMana, 2.5%), lighten(@blueMana, 40%));
    }

    &.white-or-black:nth-child(odd) {
      .manaGradient(lighten(@whiteMana, 5%), lighten(@whiteMana, 5%), lighten(@blackMana, 80%));
    }

    &.white-or-black:nth-child(even) {
      .manaGradient(lighten(@whiteMana, 2.5%), lighten(@whiteMana, 2.5%), lighten(@blackMana, 65%));
    }

    &.blue-or-black:nth-child(odd) {
      .manaGradient(lighten(@blueMana, 40%), lighten(@blueMana, 40%), lighten(@blackMana, 80%));
    }

    &.blue-or-black:nth-child(even) {
      .manaGradient(lighten(@blueMana, 35%), lighten(@blueMana, 35%), lighten(@blackMana, 65%));
    }

    &.blue-or-red:nth-child(odd) {
      .manaGradient(lighten(@blueMana, 40%), lighten(@blueMana, 40%), lighten(@redMana, 60%));
    }

    &.blue-or-red:nth-child(even) {
      .manaGradient(lighten(@blueMana, 35%), lighten(@blueMana, 35%), lighten(@redMana, 55%));
    }

    &.black-or-red:nth-child(odd) {
      .manaGradient(lighten(@blackMana, 70%), lighten(@blackMana, 65%), lighten(@redMana, 60%));
    }

    &.black-or-red:nth-child(even) {
      .manaGradient(lighten(@blackMana, 60%), lighten(@blackMana, 80%), lighten(@redMana, 55%));
    }

    &.black-or-green:nth-child(odd) {
      .manaGradient(lighten(@blackMana, 70%), lighten(@blackMana, 65%), lighten(@greenMana, 40%));
    }

    &.black-or-green:nth-child(even) {
      .manaGradient(lighten(@blackMana, 60%), lighten(@blackMana, 80%), lighten(@greenMana, 30%));
    }

    &.red-or-white:nth-child(odd) {
      .manaGradient(lighten(@redMana, 50%), lighten(@redMana, 50%), lighten(@whiteMana, 10%));
    }

    &.red-or-white:nth-child(even) {
      .manaGradient(lighten(@redMana, 45%), lighten(@redMana, 45%), lighten(@whiteMana, 5%));
    }

    &.red-or-green:nth-child(odd) {
      .manaGradient(lighten(@redMana, 50%), lighten(@redMana, 50%), lighten(@greenMana, 40%));
    }

    &.red-or-green:nth-child(even) {
      .manaGradient(lighten(@redMana, 45%), lighten(@redMana, 45%), lighten(@greenMana, 30%));
    }

    &.green-or-white:nth-child(odd) {
      .manaGradient(lighten(@greenMana, 30%), lighten(@greenMana, 30%), lighten(@whiteMana, 10%));
    }

    &.green-or-white:nth-child(even) {
      .manaGradient(lighten(@greenMana, 20%), lighten(@greenMana, 20%), lighten(@whiteMana, 5%));
    }

    &.green-or-blue:nth-child(odd) {
      .manaGradient(lighten(@greenMana, 30%), lighten(@greenMana, 30%), lighten(@blueMana, 50%));
    }

    &.green-or-blue:nth-child(even) {
      .manaGradient(lighten(@greenMana, 20%), lighten(@greenMana, 20%), lighten(@blueMana, 40%));
    }

    &.colorless:nth-child(odd) {
      .manaGradient(lighten(@colorless, 10%), lighten(@colorless, 10%), lighten(@colorless, 15%));
    }

    &.colorless:nth-child(even) {
      .manaGradient(lighten(@colorless, 5%), lighten(@colorless, 5%), lighten(@colorless, 10%))
    }

    &.land:nth-child(odd) {
      .manaGradient(lighten(@land, 10%), lighten(@land, 10%), lighten(@land, 15%));
    }

    &.land:nth-child(even) {
      .manaGradient(lighten(@land, 5%), lighten(@land, 5%), lighten(@land, 10%))
    }

    &.multi:nth-child(odd) {
      .manaGradient(lighten(@multi, 10%), lighten(@multi, 10%), lighten(@multi, 15%));
    }

    &.multi:nth-child(even) {
      .manaGradient(lighten(@multi, 5%), lighten(@multi, 5%), lighten(@multi, 10%))
    }
  }
}

#about {
  p {
    font-size: 24px;
  }
}

#contact {
  textarea {
    height: 100px;
    width: 98%;
  }
}

.form-actions {
  background: transparent;
  border: 0;
}

.set-symbol {
  width: 22px;

  &.large {
    width: 44px;
  }
}

img[src*='symbols'] {
  padding: 0 2px;
  width: 18px;

  &.large {
    padding: 5px;
    width: 64px;
  }
}

.card {
  .row:not(:first-child) {
    margin-top: 20px;
  }

  .card-quantity {
    input[type='number'] {
      margin-bottom: 0;
      padding-bottom: 0;
      width: 56px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .show-on-gatherer {
    font-size: 20px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .navbar {
    .nav {
      li {
        a {
          padding: 10px 8px 10px;
        }
      }
    }
  }
}

/* Desktop large */
@media (min-width: 1200px) {

}

/* Desktop */
@media (max-width: 980px) {
  body {
    margin-top: 0;
  }
}

/* Tablet to desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .jumbotron {
    margin-top: -20px;
  }
}

/* Tablet */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px;
    margin-right: -20px;
    margin-left:  -20px;
  }

  .masthead h1 {
    font-size: 90px;
  }

  .masthead p, .masthead .btn {
    font-size: 24px;
  }
}

/* Landscape phones */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }

  h2 small {
    display: block;
  }

  #sets {
    .set {
      a {
        font-size: 20px;
      }
    }
  }

  .jumbotron h1 {
    font-size: 45px;
  }

  .jumbotron p, .jumbotron .btn {
    font-size: 18px;
  }
}
